.input {
    width: 240px;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px grey;
    border: 1px solid black;
    outline: none;
    font-size: 20px;
}
.label {
    display: flex;
    flex-direction: column;
    width: 240px;
    gap: 10px;
    span {
        font-size: 20px;
    }
}
